<div class="common-container">
  <div class="w-100 d-flex">
    <div class="w-50">
      <app-search class="w-100"></app-search>
    </div>
    <div class="w-25">
      <button mat-icon-button class="common-icon-div ml-4" aria-label="add"
        (click)="openDialog(addPackageDetails, 'addPackage')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <app-table [data]="packageData" [table]="table" (onAction)="onAction($event,addPackageDetails)">
    </app-table>
    <ng-container *ngIf="!packageData.length">
      <div class="text-center mt-5 font-weight-bolder">No Records Found</div>
    </ng-container>
  </div>
</div>

<!-- addPackage form -->
<ng-template #addPackageDetails>
    <div>
      <form [formGroup]="packageForm">
      <div class="d-flex w-100 mb-4">
        <div class="w-50">
          <div class="common-form-label mb-2">Name</div>
          <mat-form-field appearance="fill" class="common-input-box">
            <input class="mat-input-element" matInput autocomplete="off" type="text" placeholder="Enter Package Name"
              formControlName="name" />
          </mat-form-field>
        </div>
        <div class="w-50 ml-5">
          <div class="common-form-label mb-2">No. of Days</div>
          <mat-form-field appearance="fill" class="common-input-box">
            <input class="mat-input-element" matInput autocomplete="off" type="text" placeholder="Enter No. of Days"
              formControlName="days" />
          </mat-form-field>
        </div>
      </div>
    </form>
      <div class="d-flex mb-4">
        <span class="common-form-label pt-2">Items</span>
        <button mat-icon-button class="common-icon-div item-add-btn" aria-label="add" (click)="addItem()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="main-table">
        <table class="custom-table w-100">
          <thead class="table-header">
            <tr class="table-header">
              <th *ngFor="let row of itemTable.rows" [width]="row.width + '%'">
                {{ row.name }}
              </th>
              <th *ngIf="itemTable.actions.length > 0" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rule of data; let dIndex = index" class="table-column">
              <!-- data-column Starts Here -->
              <td [width]="itemTable.rows[0].width + '%'" class="column">
                <ng-container *ngIf="rule.isEdit || rule.isCreate">
                  <div class="w-100">
                      <mat-select [(ngModel)]="selectedType" (ngModelChange)="handleName()" placeholder="Select item">
                        <mat-option *ngFor="let type of types" [value]="type.value">
                          {{type.value}}
                        </mat-option>
                      </mat-select>
                  </div>
                </ng-container>
                <ng-container *ngIf="!rule.isEdit && !rule.isCreate">
                  <span>{{ rule[itemTable.rows[0].value] !== undefined ? rule[itemTable.rows[0].value] : "N/A" }}</span>
                </ng-container>
              </td>
              <td [width]="itemTable.rows[1].width + '%'" class="column">
                <ng-container *ngIf="(rule.isEdit || rule.isCreate) && (selectedType == 'Hotel' || selectedType == 'Place')">
                  <div class="w-100">
                      <mat-select [(ngModel)]="selectedName" placeholder="Select name">
                        <mat-option *ngFor="let name of names" [value]="name">
                          {{name}}
                        </mat-option>
                      </mat-select>
                  </div>
                </ng-container>
                <ng-container *ngIf="(rule.isEdit || rule.isCreate) && selectedType == 'Transfer'">
                  <div class="w-100">
                      <mat-select [(ngModel)]="selectedTransfer" placeholder="Select transfer">
                        <mat-option *ngFor="let transfer of transfers" [value]="transfer">
                          {{transfer}}
                        </mat-option>
                      </mat-select>
                  </div>
                </ng-container>
                <ng-container *ngIf="!rule.isEdit && !rule.isCreate">
                  <span>{{ rule[itemTable.rows[1].value] !== undefined ? rule[itemTable.rows[1].value] : "N/A" }}</span>
                </ng-container>
              </td>
              <td [width]="itemTable.rows[2].width + '%'" class="column">
                <ng-container *ngIf="(rule.isEdit || rule.isCreate) && (selectedType == 'Place' || selectedType == 'Hotel')">
                  <div class="w-100" *ngIf="selectedType == 'Hotel'">
                      <mat-select [(ngModel)]="selectedDays" placeholder="Select days">
                        <mat-option *ngFor="let number of numbers" [value]="number">
                          {{number}}
                        </mat-option>
                      </mat-select>
                  </div>
                  <div class="w-100" *ngIf="selectedType == 'Place'">
                    <mat-select [(ngModel)]="selectedAdults" placeholder="No. of Adults">
                      <mat-option *ngFor="let number of numbers" [value]="number">
                        {{number}}
                      </mat-option>
                    </mat-select>
                </div>
                </ng-container>
                <ng-container *ngIf="!rule.isEdit && !rule.isCreate">
                  <span>{{ rule[itemTable.rows[2].value] !== undefined ? rule[itemTable.rows[2].value] : "N/A" }}</span>
                </ng-container>
              </td>
              <td [width]="itemTable.rows[3].width + '%'" class="column">
                <ng-container *ngIf=" selectedType == 'Place' && (rule.isEdit || rule.isCreate)">
                  <div class="w-100">
                      <mat-select [(ngModel)]="selectedKids" placeholder="No. of Kids">
                        <mat-option *ngFor="let number of numbers" [value]="number">
                          {{number}}
                        </mat-option>
                      </mat-select>
                  </div>
                </ng-container>
                <ng-container *ngIf="!rule.isEdit && !rule.isCreate">
                  <span>{{ rule[itemTable.rows[3].value] !== undefined ? rule[itemTable.rows[3].value] : "N/A" }}</span>
                </ng-container>
              </td>
              <td [width]="itemTable.rows[4].width + '%'" class="column">
                <ng-container *ngIf="!rule.isEdit && !rule.isCreate">
                  <span>{{ rule[itemTable.rows[4].value] !== undefined ? rule[itemTable.rows[4].value] : "N/A" }}</span>
                </ng-container>
              </td>
              <!-- data-column Ends Here -->

              <!-- Action Column Start -->
              <td *ngIf="itemTable.actions.length > 0 && !rule.isEdit && !rule.isCreate"
                class="action-mat-icon pl-4">
                <button [matMenuTriggerFor]="menu" mat-icon-button>
                  <mat-icon class="action-row">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button (click)="performAction(action.type, dIndex)" *ngFor="let action of itemTable.actions"
                    mat-menu-item>
                    <mat-icon style="color:#cc000a">{{ action.icon }}</mat-icon>
                    <span>{{ action.name }}</span>
                  </button>
                </mat-menu>
              </td>
              <td *ngIf="rule.isCreate && !rule.isEdit" class="table-action-cell text-center">
                <button (click)="onCreateNewRow(dIndex)" [disabled]="!isKeywordAndFlow" class="ml-10 common-button"
                  color="primary" mat-flat-button>
                  Create
                </button>
              </td>
              <td *ngIf="!rule.isCreate && rule.isEdit" class="table-action-cell text-center">
                <button (click)="onEditRow(dIndex)" class="ml-10 common-button" color="primary" mat-flat-button>
                  Save
                </button>
              </td>
              <!-- Action Column End -->
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="common-button submitt-btn" (click)="addPackage()" mat-flat-button color="primary">
        Submit
      </button>
    </div>
</ng-template>

<!-- delete template -->
<ng-template #deleteTemplate>
  <div>
    <div class="delete-text mb-3">
      Are you sure you want to delete
      <b>{{ deleteData }} ?</b>
    </div>
    <mat-dialog-actions style="float:right">
      <button mat-stroked-button color="accent" class="common-button-secondary" (click)="onCancel()"
        [mat-dialog-close]="false" mat-dialog-close>
        Cancel
      </button>
      <button [mat-dialog-close]="true" cdkFocusInitial mat-flat-button color="primary" (click)="onDeletePackage()"
        class="common-button ml-2">
        Delete
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>

