<div class="dialog-main-container">
  <div class="dialog-header">
    <span class="header-title d-flex align-center">
      <img *ngIf="data.icon" [src]="data.icon" class="mr-3" width="25" />{{ data.title }}
    </span>
    <div>
      <mat-icon class="header-close mr-4" *ngIf="data.imageUrl" (click)="downloadImage(data.imageUrl)">get_app
      </mat-icon>
      <mat-icon class="header-close" (click)="closeModal()">close</mat-icon>
    </div>
  </div>
  <div class="dialog-body">
    <ng-template #componentTemplate></ng-template>
    <ng-template [ngIf]="data.template" [ngTemplateOutlet]="data.template"></ng-template>
  </div>
</div>
<mat-dialog-actions align="end" *ngIf="data.showHandOffPopup">
  <button mat-stroked-button color="primary" class="common-button ml-10" [mat-dialog-close]="true" mat-dialog-close>
    Ok
  </button>
</mat-dialog-actions>