@import "../../../styless/color-palette";

.dialog-main-container {
  height: 100%;

  .dialog-header {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    border-bottom: 1.5px solid #edf2f6;
    .header-title {
      color:  rgb(204,0,10);
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 5px;
    }
    .header-close {
      cursor: pointer;
      font-size: 32px;
      height: 32px;
      width: 32px;
      color: #4e4f50;
    }
  }
  .dialog-body {
    margin: 10px 0;
    // overflow: auto;
    height: fit-content;
    max-height: calc(95vh - 81.5px);
    mat-dialog-actions {
      display: flex;
    }
  }
}

